*{
	margin: 0;
	padding: 0;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #e0e0e0;
}
.left{
	float: left;
	display: block;
	overflow: hidden;
}
.right{
	float: right;
}
.fix{
	overflow: hidden;
	clear: both;
}
h1{
	font-size: 25px;

}
button{
	padding: 0 15px;
	border: 0;
	background: #02a2ff;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;
}
div#root {
    margin-top: 50px;
    background: #f3f3f3;
    padding: 50px;
}
table.list{
	width:100%;

}
table.list tr{
	
margin: 5px!important;
	
border: 1px solid #fff;
}
table.list th {
    background: #02a2ff;
    padding: 2px;
    text-align: center;
}
.crud_header {
    background: #e0e0e0;
    padding: 35px 22px 20px 20px;
}
table.list tr td{
	
padding: 10px;
	
margin: 2px!important;
	
background: #ddd;
	
overflow: hidden;
	
text-align: center;
	
margin-top: 5px;
	
border-right: 1px solid #fff;
}
.modal{
	top: 99px;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	background: #b5b5b5fc;
	margin: 0 auto;
	display: block;
	padding: 0;
	height: 300px;
	box-shadow: 0 0 130px 28px #00000073;
}
.modalheading{
	background: #fff;
	padding: 5px;
	font-size: 17px;
	line-height: 32px;
}
.modalcontent {
    padding: 10px;
}
table.form {
    width: 100%;
}
.form tr{
text-align: center;
border-bottom: 5px solid #b6b6b6;
}
.form td{
text-align: left;
margin: 0 10px;
border: 5px solid #b6b6b6;
}
.form th{
	
text-align: right;
	
border-right: 5px solid #b6b6b6;
}
.margin{
	margin: 30px 0;
}
.center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
p.errorMessage {
    background: #ffbaba;
    padding: 10px;
    border-left: 5px solid #f00;
}
p.successMessage {
    background: #a2ffa2;
    padding: 10px;
    border-left: 5px solid #008c1e;
}
.form td input {
    padding:5px 10px;
    outline: 0;
}